<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">NameOfXGame</a></mdb-navbar-brand>
  
  <!-- <div class="container-fluid "> -->
  <!-- Collapsible content -->
  <links >

    <!-- Links -->
    <ul class="navbar-nav mr-auto" *ngIf="login()">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

      <!-- Search form -->
      <li class="nav-item">
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
      </li>
      

    </ul>
    <!-- Links -->
    
      <ul class="navbar-nav ml-auto ">
        <a class="nav-link" *ngIf="!login()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!login()" routerLink="/register" routerLinkActive="active">Register</a>
        <!-- <a class="nav-link" sytle="cursor:pointer" *ngIf="login()" (click)="logout()">Logout</a> -->
      </ul>
  
      <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="login()">
        <li class="nav-item">
          <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto nav-flex-icons " *ngIf="login()">
        
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect >
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect  (click)="logout()" href="/login">Log out</a>
          </div>
        </li>
      </ul>
   
    
  </links>
  <!-- Collapsible content -->
<!-- </div> -->
</mdb-navbar>
<!--/.Navbar-->